{% load static %}
{% load humanize %}
{% load truncate %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Devme, https://tevinly.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} / {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{{obj.favicon.url}}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{request.get_full_path}}" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="shortcut icon" href="{{obj.favicon.url}}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'panel/assets/css/style.min.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'panel/assets/images/bird.svg' %}">
    <link rel="stylesheet" href="{% static 'panel/assets/css/style-complete.css' %}" />
    <link rel="stylesheet" href="{% static 'panel/assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'panel/assets/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'panel/assets/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'panel/assets/css/bootstrap.min.css' %}" />
    <script src="{% static 'panel/assets/js/jquery-3.1.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/node_modules/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/node_modules/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <style>
        .visible{
            display:none;
        }
        .sidebar {
            width: 100% !important;
        }
        .status{
            border:none;
        }
        a:hover{
            text-decoration:none !important;
        }
    </style>
</head>
<body>
    <div class="preloader" id="preloader">
        <div id="loader"></div>
    </div>
    {% block body %}
    {% endblock %}
    <!-- small model -->
    <div id="myModal" class="modal fade small-model">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="ti-check"></i>
                    </div>              
                    <h4 class="modal-title w-100"></h4> 
                </div>
                <div class="modal-body">
                    <p class="text-center"></p>
                </div>
               <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- //small model -->
    {{data.username|json_script:"room-name" }}
    {{data.get_full_name|json_script:"name" }}
    {{data.extendedauthuser.profile_pic.url|json_script:"profile" }}
    {{data.id|json_script:"user_id" }}
    <script type='text/javascript' src="{% static 'panel/assets/js/like.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/comment_like.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/popper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/bootstrap.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/retweet.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/popuptweets.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/delete.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/comment.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/popupForm.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/follow.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/messages.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/notification.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/postMessage.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/search.js' %}"></script>
    <script type='text/javascript' src="{% static 'panel/assets/js/hashtag.js' %}"></script>
    <script src="{% static 'panel/assets/js/custom.js' %}"></script>
    <script>
        window.onload = function() {
            var preloader = document.getElementsByClassName('preloader')[0];
            setTimeout(function() {
                preloader.style.display = 'none';
            },2000);
        };
    </script>
</body>
</html>
