{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="container-fluid">
   <div class="main-box">
      <div class="main-box-wrapper">
         <div class="row">
            <div class="left col-md-6 col-12" style="overflow:hidden;">
                 <div class="items-wrapper">
                     <div class="item">
                         <span class="ti-search"></span>
                         <h3>Follow your interests.</h3>
                     </div>
                     <div class="item">
                         <span class="ti-user"></span>
                         <h3>Hear what your people <br> are talking about.</h3>
                     </div>
                     <div class="item">
                         <span class="ti-comments"></span>
                         <h3>Join the conversation.</h3>
                     </div>
                 </div>
             </div>
             <div class="right col-md-6 col-12">
               <div class="row">
                  <div class="col-12 ml-2 p-2">
                        <div class='step-letsgo'>
                            <h3  class="text-md-left text-center"><strong><span class="text-success"><i class="ti-check-box"></i> Success:</span>  Password Reset Link Sent!</strong></h3>
                            <p class="text-capitalize">
                                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                            </p>
                            <span class="text-md-left text-center">
                                <a href="https://mail.google.com/" class='backButton text-md-left text-center' style="color:var(--twitter-color);">Open Email</a>
                            </span>
                        </div>
                  </div>
                  <div class="col-12">
                     <hr>
                     <p class="text-center"> &copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
                  </div>
               </div>
             </div>
            </div>
        </div>
   </div>
</div>
{% endblock %}