{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="container-fluid">
   <div class="main-box">
      <div class="main-box-wrapper">
         <div class="row">
            <div class="left col-md-6 col-12"  style="overflow-x:hidden;">
                 <div class="items-wrapper">
                     <div class="item">
                         <span class="ti-search"></span>
                         <h3>Follow your interests.</h3>
                     </div>
                     <div class="item">
                         <span class="ti-user"></span>
                         <h3>Hear what your people <br> are talking about.</h3>
                     </div>
                     <div class="item">
                         <span class="ti-comments"></span>
                         <h3>Join the conversation.</h3>
                     </div>
                 </div>
             </div>
             <div class="right col-md-6 col-12 mt-4">
               <div class="row">
                  <div class="login col-md-8 mx-auto">
                     <div class="text-center"><i class="ti-twitter" style="font-size:50px;"></i></div>
                     <h1 style="text-align:center;">Provide new password </h1>
                     <div class="text-center">
                        <span class="text-capitalize"><b>{{obj.site_name}}</b></span>
                     </div>
                     <hr>
                      <form action="#" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-12">
                              {% csrf_token %}
                              <div class="form-group form-row">
                                <label class="form-label">New password</label>
                                <input style="height:50px;"  type="password" name="new_password1" autocomplete="on" required id="id_new_password1" class="form-control" placeholder="Enter new password">
                                <span class="feedback mt-1 float-left text-danger">{{form.new_password1.errors.as_text}}</span>
                              </div>
                              <div class="form-group form-row">
                                <label class="form-label">Confirm New password</label>
                               	<input style="height:50px;" type="password" name="new_password2" autocomplete="on" required id="id_new_password2" class="form-control" placeholder="Confirm new password">
                                <span class="feedback mt-1 float-left text-danger">{{form.new_password2.errors.as_text}}</span>
                              </div>
                           </div>
                           <div class="col-12 mt-2 text-center">
                              <center>
                                 <button style="height:50px;" class="new-btn btn-block">Submit</button>
                              </center>
                           </div>
                        </div>
                      </form>
                  </div>
                  <div class="mt-3 col-md-8 text-center mx-auto">
                     <div class="link">All good? 
                        <a href="/">Signin now</a>
                     </div>
                  </div>
                  <div class="col-12">
                     <hr>
                     <p class="text-center"> &copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
                  </div>
               </div>
             </div>
            </div>
        </div>
   </div>
</div>
{% endblock %}