{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %} 
<div class="wrapper">
   <section class="form login">
      <header class="text-center"><i class="fa fa-comment"></i> WeChat</header>
      <form action="#" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="error-text"></div>
        <div class="field input">
            <label>Email Address</label>
            <input type="text" name="email" placeholder="Enter your email" class="{% if form.email.errors %} is-invalid {% else %} '' {% endif %}">
            <div class="feedback text-danger float-left">{{form.email.errors.as_text}}</div>        
        </div>
        <div class="field button">
          <input type="submit" name="submit" value="Submit">
        </div>
      </form>
      <hr>
      <div class="action">
         <div class="link">Already signed up? 
            <a href="/">Signin now</a>
         </div>
      </div>
    </section>
  </div>
{% endblock %}
