{% extends 'panel/home.html' %}
{% load static %}
{% load humanize %}
{% block home %}
<div class="main">
    <div class=''>
        <div class=''>
            <!--TWEET WRAPPER-->
            <p class="page_title mb-0"><i class="fa fa-arrow-left mr-4" style="color:#50b7f5;"></i>{{data.username}}</p>
            <div class='profile-box'>
                <div class='profile-cover mt-0'>
                    <!-- PROFILE-IMAGE -->
                    <img class="img-responsive" src="{{data.extendedauthuser.cover_pic.url}}" />
                </div>
                <div class='profile-body'>
                    <div class="profile-header">
                        <div class="profile-image">
                            <img class="img-responsive" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.username}}"/>
                        </div>
                        <div class="edit-button">
                            <div class="row mt-md-0 mt-5 mx-auto">
                                <div class="col-6 text-right">
                                    <span>
                                        <button data-user="6" class="new-btn requestChatBtn" style="outline:none;">Chat</button>
                                    </span>
                                </div>
                                {% if current_user.id == data.id %}
                                <div class="col-6">
                                    <button class="new-btn" onclick=location.href="{% url 'edit profile' username=data.username %}" style="outline:none;">Edit Profile</button>       
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="profile-text mt-md-0 mt-5">
                        <div class="profile-name">
                            <h5 class="mb-1 mt-2"><b>{{data.get_full_name|default:data.username}}</b> 
                                <span style="color:rgb(91, 112, 131);">@{{data.username}}</span>
                            </h5>
                        </div>
                        <div class="profile-bio">
                            <h5></h5>
                        </div>
                        <div class="profile-link d-flex mt-3"></div>
                        <div class="profile-follow mt-2 d-flex ">
                            <h6 class="mr-3 ml-1" style="font-weight: 700;"><span class="count-followingg">{{data.extendedauthuser.following|intcomma}}</span>                                      
                                <a href="{% url 'followers' username=data.username %}">
                                    <a  href="{% url 'following' username=data.username %}" style="color:rgb(91, 112, 131);">Following</a>
                                </a></h6>
                            <h6 class="mr-3"style="font-weight: 700;"><span class="count-followers">{{data.extendedauthuser.followers|intcomma}} </span>                                    
                                <a href="{% url 'followers' username=data.username %}"style="color:rgb(91, 112, 131);">
                                Followers
                            </a></h6>
                            <h6 style="font-weight: 700;">{{tweets_count|intcomma|default:0}}
                                <a style="color:rgb(91, 112, 131);">Tweets</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space" style="height:10px; width:100%; background:rgba(230, 236, 240, 0.5);">
            </div>
            <!--TWEET WRAP END-->

            <!--Tweet SHOW WRAPPER-->
            <div class='tweets'>
                {% for tweet in tweets %}
                    {% if tweet.is_retweet %}
                    <div class="all-tweet">
                        <div class="t-show-wrap">
                           <div class="t-show-inner">
                                <div class="t-show-head">
                                    <div class="t-show-popup" data-tweet="10">
                                      <div class="t-show-img">
                                            <a href="{% url 'profile' username=tweet.user.username %}">
                                                <img src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{tweet.user.extendedauthuser.profile_pic.url}}"/>
                                            </a>
                                        </div>
                                         <div class="t-s-head-content ">
                                            <div class="t-h-c-name media-body">
                                                <span><a href="{% url 'profile' username=tweet.user.username %}">{{tweet.user.get_full_name|default:tweet.user.username}}</a></span>
                                                <span>@{{tweet.user.username}}</span> &bull;
                                                <span>{{tweet.created_on|naturaltime}}</span>
                                            </div>
                                            <div class="t-h-c-dis">
                                                {{tweet.retweet_message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="t-s-b-inner">
                                        <div class="t-s-b-inner-in">
                                            <div class="retweet-t-s-b-inner">
                                                <div>
                                                    <div class="t-h-c-name">
                                                        <span><a href="{% url 'profile' username=tweet.user.username %}">{{tweet.user.get_full_name|default:tweet.user.username}}</a></span>
                                                        <span>@{{tweet.user.username}}</span>
                                                        <span>{{tweet.created_on|naturaltime}}</span>
                                                    </div>
                                                    <div class="retweet-t-s-b-inner-right-text">
                                                        {{tweet.message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-show-footer">
                                    <div class="t-s-f-right">
                                        <ul>
                                            <li>
                                                <button class="commentBtn" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-comment" aria-hidden="true"></i>
                                                    <span class="retweetsCount">{{tweet.comment_count|intcomma|default:0}}</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="retweet" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-retweet" aria-hidden="true"></i>
                                                    <span class="retweetsCount">{{tweet.retweet_count|intcomma|default:0}}</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="like-btn" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-heart" aria-hidden="true"></i>
                                                    {% if tweet.likes_count > 0 %}
                                                    <span class="likesCounter">{{tweet.likes_count|intcomma}}</span>
                                                    {% endif %}
                                                </button>
                                            </li>
                                            {% if tweet.user_id == data.id %}
                                            <li>
                                                <a href="#" class="more">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true" style="outline:none;"></i>
                                                </a>
                                                <ul>
                                                  <li><a class="delete-button" data-url="{% url 'delete tweet' id=tweet.id %}" href="javascript:void(0);"><label class="deleteTweet" data-tweet="{{tweet.id}}">Delete Tweet</label></a></li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="all-tweet infinite-item">
                        <div class="t-show-wrap">
                           <div class="t-show-inner">
                                <div class="t-show-popup" data-tweet="{{tweet.id}}">
                                    <div class="t-show-head">
                                        <div class="t-show-img">
                                            <img src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{tweet.user.extendedauthuser.profile_pic.url}}"/>
                                        </div>
                                        <div class="t-s-head-content ">
                                            <div class="t-h-c-name media-body">
                                                <span><a href="{% url 'profile' username=tweet.user.username %}">{{tweet.user.get_full_name|default:tweet.user.username}}</a></span>
                                                <span>@{{tweet.user.username}}</span> &bull;
                                                <span>{{tweet.created_on|naturaltime}}</span>
                                            </div>
                                            <div class="t-h-c-dis">
                                                {{tweet.message}}
                                            </div>
                                        </div>
                                    </div>
                                    {% if tweet.tweet_image %}
                                    <div class="t-show-body">
                                      <div class="t-s-b-inner">
                                       <div class="t-s-b-inner-in">
                                         <img src="{{tweet.tweet_image.url}}" class="imagePopup" data-tweet="{{tweet.id}}"/>
                                       </div>
                                      </div>
                                    </div> 
                                    {% endif %}                     
                                </div>
                                <div class="t-show-footer">
                                    <div class="t-s-f-right">
                                        <ul>
                                            <li>
                                                <button class="commentBtn" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-comment" aria-hidden="true"></i>
                                                    <span class="retweetsCount">{{tweet.comment_count|intcomma|default:0}}</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="retweet" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-retweet" aria-hidden="true"></i>
                                                    <span class="retweetsCount">{{tweet.retweet_count|intcomma|default:0}}</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="like-btn" data-tweet="{{tweet.id}}" data-user="{{tweet.user.id}}" style="outline:none;"><i class="fa fa-heart" aria-hidden="true"></i>
                                                    <span class="likesCounter">{{tweet.likes_count|intcomma}}</span>
                                                </button>
                                            </li>
                                            {% if tweet.user_id == data.id %}
                                            <li>
                                                <a href="#" class="more">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true" style="outline:none;"></i>
                                                </a>
                                                <ul>
                                                  <li><a class="delete-button" data-url="{% url 'delete tweet' id=tweet.id %}" href="javascript:void(0);"><label class="deleteTweet" data-tweet="{{tweet.id}}">Delete Tweet</label></a></li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% empty %}
                    <div class="all-tweet">
                        <div class="t-show-wrap">
                            <p class="text-center py-5"><b><i class="ti-info-alt text-info"></i> No tweet(s) found</b></p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class='loading-div'>
                <img id='loader' src='assets/images/loading.svg' style='display: none;' />
            </div>
        </div>
    </div>
</div>
{% endblock %}