<div class="tweet-show-popup-wrap">
    <input type="checkbox" id="tweet-show-popup-wrap">
    <div class="wrap4">
        <div class="tweet-show-popup-box">
            <div class="tweet-show-popup-inner">
                <div class="tweet-show-popup-head">
                    <div class="tweet-show-popup-head-left">
                        <div class="tweet-show-popup-img">
                            <img class="img-responsive" src="/media/placeholder.png" alt="kevykibbz">
                        </div>
                        <div class="tweet-show-popup-name">
                            <div class="t-s-p-n">
                                <a href="/kevykibbz">kevin kibebe</a>
                            </div>
                            <div class="t-s-p-n-b">
                                <a href="#">@kevykibbz</a>
                            </div>
                        </div>
                    </div>
                    <div class="tweet-show-popup-head-right">
                        <a class="close-chatform-popup" style="cursor:pointer;"><i class="fa fa-times" aria-hidden="true" style="outline:none;"></i></a>
                    </div>
                </div>
                <div class="tweet-show-popup-tweet-wrap">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo adipisci facilis accusantium sequi ullam praesentium cumque nostrum libero quibusdam, sapiente dicta earum at porro, ad sunt ex error unde. Perferendis.
                </div> 
            </div> 
        </div>
    </div>
</div>