{% load static %}
{% load humanize %}
<div class="tweet-show-popup-wrap">
    <input type="checkbox" id="tweet-show-popup-wrap">
    <div class="wrap4">
        <div class="tweet-show-popup-box">
            <div class="tweet-show-popup-inner">
                <div class="tweet-show-popup-head">
                    <div class="tweet-show-popup-head-left">
                        <div class="tweet-show-popup-img">
                            <img class="img-responsive" src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.username}}"/>
                        </div>
                        <div class="tweet-show-popup-name">
                            <div class="t-s-p-n">
                                <a href="{% url 'profile' username=data.username %}">{{data.get_full_name|default:data.username}}</a>
                            </div>
                            <div class="t-s-p-n-b">
                                <a href="#">@{{data.username}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="tweet-show-popup-head-right">
                        <a class="close-chatform-popup" style="cursor:pointer;"><i class="fa fa-times" aria-hidden="true" style="outline:none;"></i></a>
                    </div>
                </div>
                <div class="tweet-show-popup-tweet-wrap">
                    <form class="ActiveForm" method="POST" action="{% url 'tweet form' %}" enctype="multipart/form-data" autocomplete="on" novalidate>
                        <div class="form-group">
                            {{form.message}}
                            <div class="feedback"></div>
                        </div>
                        <div class='tweet_icons-wrapper'>
                            <div class='t-fo-left tweet_icons-add'>
                                <ul>
                                    <input type='file' name='tweet_image' id='file' />
                                    <li><label for='file'><i class='fa fa-image' aria-hidden='true'></i></label>
                                        <i class="fa fa-bar-chart"></i>
                                        <i class="fa fa-smile-o"></i>
                                        <i class="fa fa-calendar-o"></i>
                                    </li>
                                    <span class='tweet-error'></span>
                                </ul>
                            </div>
                            {% csrf_token %}
                            <div class='t-fo-right'>
                                <button class="button_tweet" type="submit" name="tweet" style="outline:none;">Tweet</button>
                            </div>
                        </div>
                    </form> 
                </div> 
            </div> 
        </div>
    </div>
</div>